# Virtual environment
env/

videos/

# Datasets
Neural_Ocean.v3i.yolov11/

AI_image_model_with_outputs.ipynb

Neural_Ocean.v3i.yolov11.zip

INFO813-2026-T1-Project - Draft1.docx

chatgpt - Annotated Images for Nature.url

